@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="col-md-12">
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="1080" height="305" id="gmap_canvas" src="https://maps.google.com/maps?q=House.%20131%20%2C%20block%20A%2C%20Road%204%2C%20Banani&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a>
        </div>
        <style>
            .mapouter {
                text-align: right;
                height: 305px;
                width: 1080px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 305px;
                width: 1080px;
            }
        </style>
    </div>
</div>

<div class="hr1" style="margin-bottom:20px;"></div>

<div>

    <h4 class="classic-title">
        <span>Corporate Office</span>
    </h4>

    <ul class="icons-list">
        <li><i class="fa fa-mobile">  </i> <strong>Address:</strong> House # 131, Road # 04, Dhanmondi, Dhaka.</li>
        <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> info@akramriaj.com</li>
        <li><i class="fa fa-mobile"></i> <strong>Phone:</strong> +8801670-761068</li>
        <li><i class="fa fa-web"></i> <strong>Web:</strong> www.akramriaj.com</li>
    </ul>
    
</div>

<address>
    <strong>Support:</strong> <a href="mailto:aliriaj@gmail.com">aliriaj@gmail.com</a><br />
    
</address>
